@model PiDev.web.Models.evaluationsheet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdvyTeam.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>evaluationsheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            typeevaluation
        </dt>

        <dd>
            @Model.typeevaluation
        </dd>

        <dt>
            Score
        </dt>

        <dd>
            @Model.Score
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Model.date

        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
