
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdvyTeam.cshtml";
}

<div class="material-datatables">
    <form>
        <table id="employee" class="table table-striped table-no-bordered table-hover">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Actif account</th>

            </tr>
            @foreach (var p in ViewBag.result)
            {
                <tr>
                    <td>@p.firstname</td>
                    <td>@p.lastname</td>
                    <td>@p.phone</td>
                    <td>@p.role</td>
                    <td>@p.isActif</td>
                    <td>
                    <div>
                    @Html.ActionLink("act", "activate", new { id = p.id })
                    </div>
                    </td>
                </tr>
            }
        </table>
    </form>
    </div>



    <script>
        $(document).ready(function () {
            $('#employee>[id*="employee"]').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
		          [10, 25, 50, -1],
		          [10, 25, 50, "All"]
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }
            });
        });

    </script>



